.header {
    background: hsl(0, 0%, 100%) !important;
    color: hsl(200, 15%, 8%) !important;
  }

  

  .toggle__mode{
    display: flex;
    align-items: center;
  }
  
  .header__nav {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
  }

  .night__btn{
    text-transform: capitalize !important;
  }
  

  @media screen and (max-width: 768px){
    .header{
      padding: 18px 0;
    }

    .header__nav h3 {
      font-size: 1rem;
    }

    .header__nav {
      padding: 0 !important;
    }
  }
  